/*----------------------------

Universal Styling*************

-----------------------------*/

* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
}

body {
font-family: 'Exo', sans-serif;
}

/*----------------------------

Header Styling****************

-----------------------------*/
header nav ul li {
display: inline-block;
margin: 10px 39px;
font-size: 17px;
text-transform: uppercase;
}

header nav {
width: 100%;
margin: auto;
text-align: center;
background: #2f6d31;
color: white;
letter-spacing: 1px;
position: fixed;
font-weight: 600;
z-index: 99999;
}

/*----------------------------

Hero Image Styling****************

-----------------------------*/

.hero-image img {
    width: 100%;
    position: relative;
    min-height: 100vh;
    object-fit: cover;
}

.visit h1 {
    position: absolute;
    top: 81%;
    left: 5%;
    color: white;
    font-size: 60px;
    z-index: 9;
}

/*----------------------------

Container Styling****************

-----------------------------*/

.container {
    max-width: 73%;
    margin: 0 auto;
    padding: 30px 15px;
    min-height: 73vh;
}

.left-half img {
    float: left;
    position: absolute;
    margin-left: 5px;
    margin-top: 9px;
    transition: .2s;
}

.left-half img:hover {
    transform: scale(1.2);
    transition: .2s;
}

.right-half {
    padding: 0px 20px;
    max-width: 500px;
    display: inline-block;
    float: right;
}

.history {
    line-height: 22px;
    padding: 0px 5px;
}

.right-half h2 {
    margin: 0px 0px 8px;
    text-align: center;
    color: rgb(151 103 47);
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.date {
    font-weight: bold;
    color: #2f6d31;
    font-size: 19px;
}

/*----------------------------

Footer Styling****************

-----------------------------*/

.footer {
    background: #2f6d31;
    width: 100%;
}

.footer p {
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 23px;
}
